.formHeading {
  font-size: var(--type-scale-fixed-large);
  line-height: 1.25;
  font-weight: 400;
  display: block;
}

.formSubHeading {
  font-size: var(--type-scale-fixed-medium);
  line-height: 1.25;
  font-weight: 400;
  display: block;
}

.formParagraph {
  line-height: 1.6;
  font-size: var(--type-scale-fixed-medium);
  font-weight: 400;
  display: block;
  text-align: left;
  margin-top: 1rem;

  &:first-child {
    margin-top: 0px;
  }
}

.inputLabel {
  font-size: var(--type-scale-fixed-tiny);
  line-height: var(--type-scale-fixed-tiny);
  text-weight: 400;
  display: block;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
