.h1 {
  font-size: var(--type-scale-1);
  line-height: 1.15;
  font-weight: 400;
}

.h2 {
  font-family: var(--font-family);
  font-size: var(--type-scale-2);
  line-height: 1.15;
  font-weight: 500;
}

.h3 {
  font-family: var(--font-family);
  font-size: var(--type-scale-3);
  line-height: 1.15;
  font-weight: 500;
}

.h4 {
  font-family: var(--font-family);
  font-size: var(--type-scale-4);
  line-height: 1.15;
  font-weight: 400;
}

.h5 {
  font-size: var(--type-scale-5);
  line-height: 1.15;
  font-weight: 400;
}

.lead {
  font-size: var(--type-scale-5);
  line-height: 1.6;
  font-weight: 400;
}

.subLead {
  font-size: var(--type-scale-6);
  line-height: 1.6;
  font-weight: 400;
}

.p {
  font-size: var(--type-scale-7);
  line-height: 1.444;
  font-weight: 400;
  display: block;
  text-decoration: none;
  color: var(--theme-text);
  font-family: var(--font-family);
  letter-spacing: 0;
  opacity: 0.75;

  &:visited {
    color: var(--theme-text);
  }
}

.title {
  font-size: var(--type-scale-fixed-tiny);
  line-height: var(--type-scale-fixed-tiny);
  font-weight: 400;
  padding: 8px 24px 8px 24px;
  opacity: 0.4;

  @media (max-width: 768px) {
    padding: 8px 12px 8px 12px;
  }
}

.text {
  font-size: var(--type-scale-fixed-medium);
  line-height: 1.6;
  font-weight: 400;
  display: block;
  text-decoration: none;
  color: var(--theme-text);

  &:visited {
    color: var(--theme-text);
  }
}

.subTitle {
  font-size: var(--type-scale-7);
  font-family: var(--font-family);
  font-weight: 600;
}

.subText {
  display: block;
  font-size: var(--type-scale-fixed-tiny);
  line-height: var(--type-scale-fixed-small);
  text-decoration: none;
  color: var(--theme-text);

  &:visited {
    color: var(--theme-text);
  }
}

.unitLabel {
  font-size: var(--type-scale-fixed-small);
  line-height: var(--type-scale-fixed-small);
  color: var(--theme-border);
}
