.root {
  margin: 0;
  width: 100%;
}

.frame {
  position: relative;
  aspect-ratio: 1;
  isolation: isolate;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.canvas, .hiddenCanvas {
  position: absolute;
  left: 10.6%;
  top: 10.65%;
  width: 78.8%;
  height: 79.6%;
  touch-action: pan-y;
  box-shadow: inset 0 0 12px var(--theme-foreground-secondary);
}

.hiddenCanvas {
  visibility: hidden;
}
