.input {
  -webkit-appearance: none;
  color: var(--theme-text);
  background: var(--theme-background-input);
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  display: flex;
  font-size: var(--type-scale-fixed-small);
  font-family: var(--font-family-mono);
  align-items: center;
  justify-content: flex-start;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  transition: 200ms ease all;
  padding: 0 16px 0 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 0 0 1px var(--theme-border);

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:focus-visible,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0px 88px var(--theme-primary) inset !important;
  }

  &:focus {
    outline: 0;
    border: 0;
    outline: 0;
  }

  &::placeholder {
    opacity: 1;
    color: var(--theme-primary);
  }
}
